<h1>Show Post</h1>

<h2>
  <%= @job.title %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Job Type:</strong>
  <%= @job.job_type %>
</p>

<p>
  <strong>Average Salary:</strong>
  <%= @job.average_salary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<h5>
  <%= link_to "Edit Post", edit_job_path(@job) %>
</h5>

<h5>
  <%= link_to "Delete Post", @job, method: :delete %>
</h5>
